
<main>
   
  <div class="woodbox-title-container mb-5">
    <h1>Explore & Find New Whiskey!</h1>
  </div>
  
  
  {{!-- This is the where the bottle cards will appear for the user to review any that were to be of interest. --}}

  <div class="container text-center">
    <div class="row align-items-start cubbies">
      {{#each bottles as |bottle|}}
            

        {{!-- This button will add the bottle to favoriteBottle to the showcase page. On press, the website will open a modal to add a 2 fields for the User to add to their favorite bottle in the showcase.  --}}

        <div class="col-3 drinkCard">
          <h2 class="bottleName" id="{{id}}">{{whiskey_name}}</h2>
          <h3>{{whiskey_type}}</h3>

          <div class="text-center mb-5">
            <button class="showcase-btn showcase" id="{{id}}"  data-bs-toggle="modal" data-bs-target="#formModal" 
            href="../views/favorites.handlebars"
            target="bottlemodal">Add To Showcase</button>
          </div>
          
          <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="bottlemodal">Add Details to Showcase</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  <form id="task-form">
                    <div class="row p-2">
                      <div class="form-group col">
                        <label for="title">How do you like your Whiskey?</label>
                        <select class="order-form">
                          <option value="1">Neat</option>
                          <option value="2">On The Rocks</option>
                          <option value="3">Mixed Drink</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group p-2">
                      <label for="textarea">What are some taste notes that you detect?</label>
                      <textarea class="form-control taste" id="tasteNotes" rows="3" placeholder="Example: Smokey with some fruity after-tastes"></textarea>
                    </div>
                  </form>
                </div>
                
                <div class="modal-footer">
                  <div class="confirmation"></div>
                  <button id="{{id}}" type="submit" class="showcase-btn add-as-is">No Thanks, Add to Showcase.</button>
                  <button id="{{id}}" type="submit" class="showcase-btn add-notes">Add Notes!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       {{/each}}
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap Script Tag -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>

<script type="text/javascript" src="/assets/js/explore.js"></script>


